Cache/*.cache
Backup
Password/*
!/Password/.htaccess
# Client/Common/AdsenseHEad.html

Home/Master/Contents/*
!/Home/Master/Contents/Tips.content
!/Home/Master/Contents/Root.content
!/Home/Master/Contents/Messages.content

Home/DronePole/
Home/Debugger/
# !/Home/Debugger/Contents
# /Home/Debugger/Contents/Test
