
body {
    font-size: 12pt;
    color: #4a4a4a;
    /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif*/
    font-family: "arial";
}

h1, h2, h3, h4, h5, h6 {
    font-size: larger;
    margin-bottom: 0px;
}



.section-title {
    background: #1B73BA;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 8px 10px;
    position: relative;
    width: 100%;
  }
  
  .section-title:before {
    border: 10px solid transparent;
    border-top: 10px solid #1B73BA;
    content: "";
    height: 0;
    left: 10px;
    position: absolute;
    top: 100%;
    width: 0;
  }

  .sub-section-title {
    border-bottom: 2px solid #1B73BA;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 7px 0 2px 0;
  }
  
  .sub-section-title:before {
    background-image: url(stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 20px;
    padding: 0 12px 2px 0;
    vertical-align: middle;
    width: 10px;
  }

  .sub-sub-section-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  
  .sub-sub-section-title:before {
    background-image: url(stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    background-size: 8px 15px;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 15px;
    padding: 0 10px 2px 0;
    vertical-align: middle;
    width: 8px;
  }


  .sub-sub-sub-section-title {
    font-size: 16px;
    margin: 0 0 20px;
  }
  
  .sub-sub-sub-section-title:before {
    background-image: url(stylerecipe_img/flat_arrow_blue01.png);
    background-repeat: no-repeat;
    background-size: 6px 11px;
    content: " ";
    display: inline-block;
   *display:inline;
   *zoom:1;
    height: 11px;
    padding: 0 10px 2px 0;
    vertical-align: middle;
    width: 6px;
  }


.section {
    list-style: none;
    margin: 0 0 0 0em;
    padding: 0 0 0 0.5em;
    border-left: 3px double #eee;
}


figure {
    text-align: right;
}

    figure img {
        /* max-width: 600px; */
        max-height: 300px;
        width: 80%;
        /* width: 150px; height: 150px; */
        object-fit: contain;
    }

figcaption {
    font-weight: bold;
}

p {
    line-height: 2.0em;
    letter-spacing: 0.8pt;
}


table {
    width: 100%;
    margin: 0px 0 30px 0;
    font-size: 0.875em;

    border-collapse: collapse;
    border-spacing: 0px;

}


        table tbody tr:nth-child(odd) {
            background: #fff;
        }
        table tbody tr:nth-child(even) {
            
            background: #f5f5f5;
        }
        table tbody tr:hover {
            outline: #00cccc 1px solid;
        }

    table th{
        background-color: #eee;
        border: 1px solid #b9b9b9;
    }

    table td {
        vertical-align: top;
        padding: 7px 10px;

        
        border: 1px solid #b9b9b9;
    }

        table tbody th {
            width: 18%;
        }


        table thead th {
            font-weight: 700;
        }
        
     ul.tree {
        list-style: none;
    }
    
        ul.tree ul {
            list-style: none;
        }
    
            ul.tree ul li:before {
                content: "├";
                margin: 0px 4px 0px 0px;
            }
    
            ul.tree ul li:last-child:before {
                content: "└";
                margin: 0px 4px 0px 0px;
            }
    



code{
    background-color: #eee;
    padding: 0px 5px 0px;
    border-radius: 2px;
    margin: 0 5px;
    border: solid 1px #bbb;
    color: #444;
    font-family: monospace;
    font-size: 14px;
    line-height: 39px;

/*     
    padding: 2px 4px;
    font-size: 90%;
    background-color: #ffffff;
    border-radius: 3px; */
}


mark{
    background: linear-gradient(transparent 68%, #ffefaf 0%);
    padding: 0 3px;
}

.box-note {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.box-note .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box-note p {
    margin: 0; 
    padding: 0;
}

.box-caution {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #FFC107;
}
.box-caution .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box-caution p {
    margin: 0; 
    padding: 0;
}

.box-warning {
    margin: 2em 0;
    background: #ffebe9;
    color: #ff7d6e;
}
.box-warning .box-title {
    font-size: 1.2em;
    background: #ff7d6e;
    padding: 4px;
    color: #FFF;
    display: block;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box-warning p {
    padding: 15px 20px;
    margin: 0;
}
/* 

.box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}

    .box .box-title {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        background: #F8F8FF;
        color: #95ccff;
        font-weight: bold;
    } */
/* 
    .box p {
        margin: 0;
        padding: 0;
    } */

ol.reference-list{
    list-style-type: none;
    margin: 0;
}

ol.reference-list li{
    counter-increment: cnt;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1.5em;

    text-indent: -1.5em;
}

ol.reference-list li::before{
    content: "[" counter(cnt) "]";

    margin-right: 0.5em;
}