html {
  --main-font-color: #202122;
  --main-bg-color: #ffffff;
  /* --content-link-color: #d6a21eb3; */
  --content-link-color: hsl(40deg 75% 48% / 70%);
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  color: var(--main-font-color);
  height: calc(100% - 85px);
  background-color: #f6f6f4;
  margin: 0;
}

.muted {
  color: #54595d;
}

.icon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  min-width: 1em;
  min-height: 1em;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center;
}

.recent-list>div {
  border-left: 4px solid #fb6d76c7;
  padding: 0 0 0 12px;
}

.recent-list ul {
  list-style-type: none;
  font-size: 0.875em;
}

.recent-list ul li {
  line-height: 1.23;
  margin: 0;
  padding: 4px 0;
}

ul.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

ul.tag-list li {
  display: inline-block;
  margin: 0 .125em .333em 0;
  padding: 0;
}

ul.tag-list li a, ul.tag-list li a:visited {
  position: relative;
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 1em 0 1em;
  border: 1px solid #dfe1e5;
  border-radius: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

ul.tag-list li span {
  display: inline-block;
  position: relative;
  left: 0.5em;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 100%;
  color: #3498db;
  font-size: 12px;
  text-align: center;
  transition: 0.2s;
}

ul.tag-list li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}

ul.tag-list li a:hover span {
  background-color: #fff;
  /* color: #3498db; */
}

ul.tag-list.removable li a:hover {
  background-color: #db3434ad;
  border: 1px solid #db3434ad;
}

ul.tag-list.removable li a:hover span {
  color: #db3434ad;
}

ul.tag-list.removable li a:hover::before {
  display: block;
  position: absolute;
  color: #fff;
  line-height: 12px;
  font-size: 12px;
  left: 3px;
  top: 7px;
  text-align: center;
  content: '×';
}

/* --- breadcrumb --- */

.breadcrumb {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}

.breadcrumb li::after {
  content: ">";
  padding: 0 3px;
  color: #555;
}

.breadcrumb li a {
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/* --- End breadcrumb --- */

#sitemask[visible] {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease;
  visibility: visible;
}

#sitemask {
  background: rgba(0, 0, 0, 0.4);
  bottom: -200px;
  cursor: pointer;
  left: -200px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: -200px;
  top: -200px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.2s linear;
  visibility: hidden;
  z-index: 9999;
  -webkit-tap-highlight-color: transparent;
}

#header {
  position: fixed;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  text-align: center;
  color: white;
  background-color: #137a7f;
  padding: 3px;
  overflow: hidden;
  max-height: 30px;
  font-size: 12px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: max-height 0.25s ease-out;
}

@keyframes hide-header-anim {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    transform: translateY(-60px);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes appear-header-anim {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  1% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

.hide-header {
  transform: translateY(-40px);
}

#left-column-responsive {
  z-index: 990;
  background-color: inherit;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 80px;
  bottom: 50px;
  left: -256px;
  max-width: 256px;
  width: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  animation-fill-mode: forwards;
  display: none;
  visibility: hidden;
  transition: 0.2s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.left-column-responsive-open {
  left: 0 !important;
  visibility: visible !important;
}

#left-column {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 80px;
  bottom: 50px;
  left: 0px;
  width: 27%;
  overflow-x: hidden;
  overflow-y: auto;
  animation-fill-mode: forwards;
}

#right-column {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 17%;
  top: 121px;
  margin: 0px;
  top: 50px;
  right: 0px;
  bottom: 80px;
  font-size: 13px;
  box-sizing: border-box;
  padding: 2px;
}

#doc-outline-embeded {
  display: none;
  margin: 20px 0 24px;
  font-size: 13px;
  padding: 0 0 0 12px;
  border-left: 4px solid #5f63687a;
}

#doc-outline-embeded>.nav-title {
  font-weight: bold;
  border-bottom: 0;
}

#doc-outline-embeded>.nav-wrapper>nav ul {
  list-style-type: none;
  padding: 0 0 0 12px;
  margin: 0;
}

#doc-outline-embeded>.nav-wrapper>nav li {
  line-height: 16px;
  margin: 0;
  padding: 4px 0;
}

.accbox label {
  cursor: pointer;
  display: block;
  width: 24px;
}

.accbox label>.icon::before {
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22ellipsis-h%22%20class%3D%22svg-inline--fa%20fa-ellipsis-h%20fa-w-16%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%235f6368%22%20d%3D%22M328%20256c0%2039.8-32.2%2072-72%2072s-72-32.2-72-72%2032.2-72%2072-72%2072%2032.2%2072%2072zm104-72c-39.8%200-72%2032.2-72%2072s32.2%2072%2072%2072%2072-32.2%2072-72-32.2-72-72-72zm-352%200c-39.8%200-72%2032.2-72%2072s32.2%2072%2072%2072%2072-32.2%2072-72-32.2-72-72-72z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E')
}

.cssacc:checked+.nav-title+.nav-wrapper+label>.icon::before {
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=utf8,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22angle-up%22%20class%3D%22svg-inline--fa%20fa-angle-up%20fa-w-10%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%235f6368%22%20d%3D%22M177%20159.7l136%20136c9.4%209.4%209.4%2024.6%200%2033.9l-22.6%2022.6c-9.4%209.4-24.6%209.4-33.9%200L160%20255.9l-96.4%2096.4c-9.4%209.4-24.6%209.4-33.9%200L7%20329.7c-9.4-9.4-9.4-24.6%200-33.9l136-136c9.4-9.5%2024.6-9.5%2034-.1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E')
}

.accshow nav li {
  display: none;
}

.accshow nav li[visible], .cssacc:checked+.nav-title+.accshow nav li {
  display: block;
}

.accbox input {
  display: none;
}

#main-footer {
  font-size: 13px;
  padding: 2em 0 0 0;
  margin: 0;
}

#main-footer-responsive {
  display: none;
}

#center-column {
  margin-left: 27%;
  margin-right: 17%;
  margin-top: 85px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  padding: 1em;
  background-color: var(--main-bg-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#main>article {
  flex-grow: 1;
  padding-bottom: 2rem;
}

.overlay-enabled #center-column {
  overflow: auto;
  height: 100%;
}

.overlay-enabled #main {
  overflow: visible;
}

#footer {
  margin-top: 0;
  padding: 0.75em;
}

#footer #footer-info li {
  line-height: 1.4em;
}

#footer ul {
  list-style: none none;
  margin: 0;
  padding: 0;
}

#footer li {
  margin: 0;
  padding: 0.1em 0;
  font-size: 0.7em;
}

.pull-down {
  max-height: 500px !important;
  transition: max-height 0.25s ease-in;
}

#header .logo {
  font-size: 25px;
  vertical-align: middle;
}

#pull-up-menu-button {
  display: none;
}

.pull-updown-button {
  width: 40px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pull-down-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(135deg);
}

.pull-up-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(-45deg);
}

.logo {
  font-family: arial;
}

#header:not(.pull-down)>.pull-down-menu {
  visibility: hidden;
}

.pull-down-menu {
  margin: 10px 10px 0px 10px;
  transition: visibility 0.25s;
}

.pull-down-menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pull-down-menu-top>a {
  width: 150px;
  height: 25px;
}

.pull-down-menu-content {
  margin-top: 10px;
  padding: 8px;
  max-height: 385px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.pull-down-menu-content>a {
  width: 90px;
  height: 50px;
  overflow: hidden;
  padding: 10px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.toolbar>* {
  box-sizing: border-box;
  width: 30px;
  height: 25px;
  border-radius: 2px;
  padding: 2.5px 5px 2.55px 5px;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
}

.toolbar>*:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-link-button {
  display: block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.header-link-button:hover, .header-link-button:focus, .header-link-button:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
}

#header a {
  text-decoration: none;
  color: white;
}

.private-icon {
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  color: white;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 12px;
  height: 12px;
}

#layer-selector {
  position: absolute;
  right: 17%;
  top: 50px;
  margin: 0 5px;
}

#layer-selector:after {
  content: '>';
  font: 13px "Consolas", monospace;
  color: inherit;
  transform: rotate(90deg);
  right: 12px;
  top: 8px;
  position: absolute;
  pointer-events: none;
}

#layer-selector button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 31px 0 15px;
  display: block;
  max-width: 124px;
  height: 30px;
  float: right;
  font-size: 13px;
  line-height: 28px;
  color: inherit;
  border-radius: 4px;
  background-color: inherit;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

#layer-selector ul {
  background: #fff;
  border: 0;
  border-radius: 4px;
  display: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  font-size: 13px;
  ;
  max-height: 304px;
  opacity: 0;
  overflow-y: auto;
  padding: 8px 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .2s, visibility .2s;
  z-index: 800;
  margin: 0;
}

#layer-selector[open] ul {
  opacity: 1;
  display: block;
  pointer-events: auto;
  top: 30px;
  right: 0;
}

#layer-selector ul li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#layer-selector ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  white-space: nowrap;
}

#layer-selector ul li[selected] {
  background-color: #e3f2fd !important;
}

#layer-selector ul li:hover {
  background-color: #f1f3f4;
}

ul.tagline {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.tagline li {
  position: relative;
  display: inline-block;
  margin: 0 0 2px 10px;
  padding: 0;
}

ul.tagline li a, ul.tagline li a:visited {
  position: relative;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 1em;
  background-color: #3498db;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

ul.tagline li a::before {
  position: absolute;
  top: 0;
  left: -10px;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent #3498db transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  transition: border-color 0.2s;
}

ul.tagline li a::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 100%;
}

ul.tagline li.outline a, ul.tagline li.outline a:visited {
  border: solid 1px #3498db;
  border-left: none;
  height: 18px;
  line-height: 18px;
  background-color: transparent;
  color: #3498db;
}

ul.tagline li.outline a::after {
  background-color: #3498db;
  transition: background-color 0.2s;
}

ul.tagline li.outline a::before {
  top: -1px;
}

ul.tagline li.outline::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: -9px;
  top: 50%;
  margin-top: -9px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 9px 9px 9px 0px;
  pointer-events: none;
  transition: border-color 0.2s;
}

ul.tagline li a:hover {
  background-color: #555 !important;
  color: #fff !important;
  border-color: #555 !important;
}

ul.tagline li a:hover::before {
  border-right-color: #555 !important;
}

ul.tagline li.outline a:hover::after {
  background-color: #fff;
}

ul.tagline li.outline:hover::after {
  border-right-color: #555 !important;
}

.content-link-container {
  margin: 0;
  white-space: nowrap;
}

a.content-link {
  background-color: var(--content-link-color);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  color: white;
  margin-bottom: 6px;
  padding: 7px 16px 5px;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  max-width: 96%;
  box-sizing: border-box;
  display: flex;
}

a.content-link:visited {
  color: white;
}

a.content-link:hover {
  filter: brightness(105%);
}

a.content-link>svg {
  fill: #ffffff;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

a.content-link>span {
  overflow: hidden;
  text-overflow: ellipsis;
}

a.content-link.left {
  margin-right: 6px;
  float: left;
}

a.content-link.right {
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

#warning-message-box {
  font-size: 13px;
  position: fixed;
  top: 40px;
  right: 20%;
  left: 20%;
  background: rgba(255, 62, 43, 0.5);
  padding: 8px 20px;
  color: white;
  opacity: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 2px;
  z-index: 998;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#warning-message-box ul {
  list-style: none;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 13px;
  padding: 0;
}

#warning-message-box ul li {
  margin: 0;
  padding: 0;
}

#warning-message-box ul li:first-child {
  margin-top: 0;
}

#warning-message-box ul li {
  margin-top: 0.4em;
}

#warning-message-box button {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
}

@keyframes warning-message-box-slideout {
  from {
    top: 40px;
  }

  to {
    top: -100px;
    opacity: 0;
  }
}

#first-heading {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding: 0;
  line-height: 1.3;
  font-size: 1.8em;
}

.file-date {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0.75em 0;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  flex-wrap: wrap;
}

.file-date>div {
  margin-bottom: 0.25em;
}

.file-date time {
  padding-left: 0.25em;
}

.file-date span {
  padding-left: 1.0em;
}

#content-summary {
  margin: 0.5em 0 1em;
  padding: 0;
  line-height: 1.65;
}

#content-body {
  margin: 0 0 1em 0;
  line-height: 1.65;
}

ul.child-list {
  margin: 0;
  padding: 0;
}

ul.child-list>li {
  display: flex;
  position: relative;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 100%;
  border-bottom: 1px solid #e1e4e8;
  height: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

ul.child-list>li:first-child {
  border-top: 1px solid #e1e4e8;
}

ul.child-list>li:after {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
  /* so the text is still selectable */
}

ul.child-list>li>div {
  width: 100%;
}

.child-title {
  font-weight: 600;
  font-size: 20px;
}

.child-summary {
  pointer-events: none;
  /*文章として読むFontは, 15pxが最低か?*/
  /* font-size: 0.9em; */
  /* color: #545454; */
}

.child-summary figure {
  float: left;
  clear: left;
  margin: 4px 4px 5px 0px;
  width: 113px;
  height: 84px;
}

.child-summary figure img {
  width: 100%;
  max-width: none;
  height: 100%;
}

.child-summary figure figcaption {
  display: none;
}

.menu-open-button-wrapper {
  position: fixed;
  top: 40px;
  left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
  z-index: 990;
  display: none;
}

.menu-open-button {
  background: #eeeeee;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open {
  display: none;
}

.menu-open-button .lines, .close-icon .lines {
  width: 15px;
  height: 2px;
  background: #596778;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7.5px;
  margin-top: -1px;
  transition: transform 200ms;
}

.line-1 {
  transform: translate3d(0, -8px, 0);
}

.line-2 {
  transform: translate3d(0, 0, 0);
}

.line-3 {
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .line-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .line-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .line-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-open:checked+.menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

#right-column .navi {
  position: absolute;
  top: 20px;
  bottom: 40px;
  right: 0px;
  left: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

#right-column .show-sourcecode {
  position: absolute;
  bottom: 0;
  left: 2px;
  right: 2px;
}

.navi {
  font-size: 0.875em;
  list-style: none;
  margin-top: 5px;
  padding: 0px;
}

.navi ul {
  margin: 0 0 0 0.8em;
  padding: 0px;
  list-style: none;
}

.navi li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navi li>a, .navi li>a:visited {
  color: #85837a;
  text-decoration: none;
  display: block;
  border: solid transparent 2px;
  padding: 0.1em 0em 0.1em 0.5em;
}

.navi a.selected, .navi a:visited.selected, .navi a:hover, .navi a:visited:hover {
  color: #333;
  background-color: #e8e8e8;
  background-clip: padding-box;
}

.navi a:hover, .navi a:visited:hover {
  text-decoration: underline;
}

#printfooter {
  display: none;
}

#search-button {
  width: 40px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 0px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-icon {
  position: relative;
  width: 20px;
  margin: 0 auto;
  padding: 0 0 5px 0;
  text-align: center;
}

.search-icon .circle {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.search-icon .rectangle {
  position: absolute;
  right: 0;
  bottom: 3px;
  width: 7px;
  transform: rotate(45deg);
  border: 1px solid white;
  background-color: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#search-overlay.visible {
  visibility: visible;
  opacity: 1;
}

#search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
}

.overlay-header {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  height: 3.375em;
  z-index: 1003;
  background-color: #137a7f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.overlay-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: inherit;
  z-index: 1001;
}

#header-close-button {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.close-icon {
  width: 40px;
  height: 40px;
  position: relative;
}

.close-icon .lines {
  background: white;
}

.close-icon .line-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.close-icon .line-2 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

#search-overlay .search-box {
  display: block;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-box>input {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff;
  background-position: left 6px center;
  background-repeat: no-repeat;
  background-size: 18px;
  -webkit-appearance: none;
  width: 100%;
  margin-top: 0;
  height: 2.25em;
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 7px 0 7px 29px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  outline: 0;
  transition: border-color 250ms, box-shadow 250ms;
  font: inherit;
}

.search-box>input {
  padding-right: 3em;
}

.search-box>input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-box>input:focus {
  border-color: #4d90fe !important;
  box-shadow: inset 0 0 0 1px #4d90fe, 0 1px 1px rgba(0, 0, 0, 0.05);
}

#search-box-input-clear-button {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: none;
  cursor: pointer;
}

.search-box>.clear {
  position: absolute;
  font-size: 1em;
  top: 50%;
  /* top: 1px; */
  right: 0.5625em;
  transform: translateY(-50%);
  padding: 0.5625em;
  cursor: pointer;
}

.overlay-content {
  background-color: inherit;
  padding-top: 3.375em;
  box-sizing: border-box;
  z-index: 1002;
}

.search-results-view {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.search-results-header {
  border-bottom: 1px solid #e1e4e8;
  text-align: center;
  padding: 1em 0;
}

.loader {
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.dot-floating>div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation-name: dotFloating;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0, 0.7, 1, 0.2);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  box-sizing: border-box;
  top: 50%;
}

.dot-floating>div:nth-child(1) {
  animation-delay: -0.2s;
}

.dot-floating>div:nth-child(2) {
  transform: translateX(-10px);
  animation-delay: -0.1s;
}

.dot-floating>div:nth-child(3) {
  transform: translateX(-20px);
  animation-delay: 0s;
}

#content-body h2 {
  cursor: pointer;
  display: table;
  width: 100%;
  margin-bottom: 0.5em;
}

#content-body h2.close-block+.section {
  display: none;
}

#content-body h2::before {
  content: "";
  display: table-cell;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  flex-basis: 1em;
  line-height: 1em;
  padding: 0.5625em;
  font-size: initial;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: -0.5625em;
  box-sizing: content-box !important;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center;
  background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eexpand%3C/title%3E%3Cpath d=%22M17.5 4.75l-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z%22/%3E%3C/svg%3E");
  overflow: hidden;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: background-color 100ms ease 0ms;
  background-color: transparent;
  border-radius: 2px;
  transform: scaleY(-1);
}

#content-body h2.close-block::before {
  transform: scaleY(1);
}

@keyframes dotFloating {
  0% {
    left: calc(-10px);
  }

  80% {
    left: calc(100% + 20px);
  }

  100% {
    left: calc(100% + 20px);
  }
}

#page-tabs {
  background-image: linear-gradient(to bottom, transparent 0 1.5em, var(--main-bg-color) 1.5em 100%);
}

.vector-tabs, .vector-tabs a {
  background-image: linear-gradient(to bottom, rgba(127, 127, 127, 0) 0, rgba(127, 127, 127, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 1px 100%;
}

.vector-tabs {
  background-position: left bottom;
  height: 1.5em;
}

.vector-tabs.left {
  float: left;
}

.vector-tabs.right {
  float: right;
}

.vector-tabs ul {
  float: left;
  height: 100%;
  list-style: none none;
  margin: 0;
  padding: 0;
}

.vector-tabs.right ul {
  float: right;
}

.vector-tabs li {
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.125em;
  white-space: nowrap;
}

.vector-tabs.right li {
  float: right;
}

.vector-tabs .selected {
  background-image: linear-gradient(to top, var(--main-bg-color) 0, var(--main-bg-color) 100%);
}

.vector-tabs li a {
  background-position: right bottom;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100%;
  position: relative;
  padding-top: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.8125em;
  cursor: pointer;
}

.vector-tabs.right li a {
  background-position: left bottom;
}

.vector-tabs .selected a, .vector-tabs .selected a:visited {
  color: var(--main-font-color);
  text-decoration: none;
}

.directory-container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

a.directory, a.file {
  border-radius: 6px;
  /* border: 1px solid #dadce0; */
  border: 1px solid hsl(220deg 9% 50% / 30%);
  overflow: hidden;
  margin: 7px;
  padding: 12px 16px;
  display: flex;
  color: rgba(0, 0, 0, 0.72);
}

.selected a.directory, .selected a.file {
  border-color: var(--content-link-color);
}

a.file {
  flex-direction: column;
  justify-content: space-between;
}

a.directory .name, a.file .name {
  margin-left: 16px;
  min-width: 0;
  align-self: center;
}

.file-container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.file-title {
  display: flex;
}

.file .thumbnail img {
  height: auto;
  object-fit: contain;
  width: 100%;
  max-height: 300px;
}

#page-bottom {
  margin-top: 7px;
}

#related-view {
  padding: 1em;
}

.related-results-header {
  text-align: center;
  padding: 1em 0;
}

.card-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
}

.card-item {
  position: relative;
  text-decoration: none;
  background-color: var(--main-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  border-top: rgb(128 128 128 / 25%) solid 10px;
  box-sizing: border-box;
  padding-top: 110%;
  overflow: hidden;
  border-radius: 2px;
}

.card-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.selected .card-item {
  border-color: var(--content-link-color);
}

.card-item.small {
  padding-top: 50%;
}

.card-item.head {
  border: none;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #9babc1;
  color: #fff;
  word-break: break-word;
  text-decoration: none;
}

.card-item:not(.head) .inner::after {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, var(--main-bg-color) 20%, transparent 80%);
}

.card-item.head .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item.head .icon {
  font-size: 30px;
}

.card-item.head.tag {
  background-color: #3498db;
}

.card-item.head.outline.tag {
  background-color: transparent;
  box-sizing: border-box;
  border-left: 3px solid #3498db;
}

.card-item.head.link {
  background-color: var(--content-link-color);
}

.card-item.head .title {
  color: white;
}

.card-item.head.outline.tag .title {
  color: #3498db;
}

.card-item .inner {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card-item .title {
  color: #396bdd;
  margin: 10px 12px;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  /* number of lines to show */
  -webkit-line-clamp: 3;
  max-height: 60px;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card-item .summary {
  line-height: 20px;
  padding: 10px 12px 0;
  font-size: 12px;
  white-space: pre-line;
  column-count: 1;
  column-gap: 2em;
  column-width: 10em;
  height: inherit;
  color: gray;
  flex-shrink: 16;
  overflow: hidden;
  pointer-events: none;
}

.card-item .hover-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-item .footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 0.25em;
  font-weight: bold;
  font-size: 12px;
  color: #5f6368;
  overflow-wrap: break-word;
  text-align: right;
  background: linear-gradient(to top, var(--main-bg-color) 0 80%, transparent 100%);
}

.card-wrapper+.splitter {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
}

#content-survey {
  border-top: 1px solid #dadce0;
  margin-top: 16px;
  padding: 31px 40px 40px;
}

#content-survey .title {
  font-weight: 600;
  padding: 1.125rem 0;
  text-align: center;
}

#content-survey.submitted :not(.title) {
  display: none;
}

#content-survey .how-improve {
  display: none;
  text-align: left;
}

#content-survey .any-feedback {
  display: none;
  text-align: left;
}

#content-survey .submit-button {
  background: #418ff7;
  border: 0;
  border-radius: .1875rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  color: #ffffff;
  font-family: 'Google Sans', Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1rem;
  margin-top: 0;
  outline: 0;
  padding: .625rem 1.625rem;
  position: relative;
  text-align: left;
}

#content-survey .field {
  margin: .25rem 0 .625rem 0;
}

#content-survey textarea {
  background: transparent;
  border: .0625rem solid #dadce0;
  border-radius: .25rem;
  box-sizing: border-box;
  max-width: 28rem;
  outline: none;
  padding: 1rem;
  resize: none;
  width: 100%;
}

#content-survey textarea:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.125rem #418ff7;
  -webkit-appearance: none;
}

#content-survey .button-group {
  text-align: center;
}

#content-survey button {
  background-color: transparent;
  border: .0625rem solid #dadce0;
  border-radius: .25rem;
  color: #418ff7;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1rem;
  margin: .375rem .5rem .375rem 0;
  min-width: 5.5rem;
  padding: .625rem 0;
  position: relative;
  text-align: center;
}

#content-survey button:hover {
  filter: brightness(105%);
}

/*477 + 990 + 301 + scroll-width (1768 + 20px)*/

@media screen and (min-width: 1786px) {
  #left-column {
    width: 477px;
    left: calc(50% - 884px);
    /*50% - 990px/2 - 477px + 88px*/
  }

  #center-column {
    transform: translateX(88px);
    /*(477 + 990/2) - 1768/2 */
    margin-left: auto;
    margin-right: auto;
    width: 990px;
  }

  #right-column {
    width: 301px;
    right: calc(50% - 884px);
    /*50% - 990px/2 - 301px - 88px*/
  }

  #layer-selector {
    right: calc(50% - 884px + 301px);
  }
}

@media screen and (max-width: 1000px) {
  #warning-message-box {
    right: 10%;
    left: 10%;
  }

  #right-column {
    display: none;
  }

  #main-footer-responsive {
    display: block;
  }

  #doc-outline-embeded {
    display: block;
  }

  #center-column {
    margin-right: auto;
  }

  #layer-selector {
    right: 0;
  }
}

/*
    memo:
        SmartPhoneWidth = max-width: 479px
*/

@media screen and (max-width: 700px) {
  #warning-message-box {
    right: 1%;
    left: 1%;
  }

  #center-column {
    margin-left: auto;
    margin-right: auto;
  }

  #left-column {
    display: none;
  }

  #main-footer-responsive {
    display: block;
  }

  #right-column {
    display: none;
  }

  #doc-outline-embeded {
    display: block;
  }

  .menu-open-button-wrapper {
    display: block;
  }

  #left-column-responsive {
    display: block;
  }
}

@media screen {
  [theme="dark"] {
    --main-font-color: #cccccc;
    --main-bg-color: #1f1f1f;
    --tag-background-color: #3498dbad;
    --tag-background-color-removable: #db3434ad;
    /* --content-link-color: #aa8018; */
  }

  [theme="dark"] body {
    background-color: #282828;
    color: var(--main-font-color);
  }

  [theme="dark"] .muted {
    color: #888888;
  }

  [theme="dark"] #header {
    background-color: #1d5558;
  }

  [theme="dark"] ul.child-list>li:after {
    background: linear-gradient(to top, rgba(31, 31, 31, 1) 20%, rgba(31, 31, 31, 0) 80%);
  }

  [theme="dark"] .search-results-view {
    background-color: #1f1f1f;
  }

  [theme="dark"] #content-body h2::before {
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eexpand%3C/title%3E%3Cpath fill=%22white%22 d=%22M17.5 4.75l-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z%22/%3E%3C/svg%3E");
  }

  [theme="dark"] .overlay-header {
    background-color: #1d5558;
  }

  [theme="dark"] .navi a.selected {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--main-font-color);
  }

  [theme="dark"] .navi a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--main-font-color);
  }

  [theme="dark"] ul.tag-list li a {
    color: var(--main-font-color);
  }

  [theme="dark"] #game-panel {
    background-color: #1f1f1f;
    color: var(--main-font-color);
  }

  [theme="dark"] #game-panel-title {
    color: var(--main-font-color);
  }

  [theme="dark"] #game-button {
    background: #757575;
    color: var(--main-font-color);
  }

  [theme="dark"] #game-button::before {
    border: #757575 solid 6px;
  }

  [theme="dark"] .menu-open-button {
    background-color: rgba(62, 62, 62, 1);
  }

  [theme="dark"] .menu-open-button .lines {
    background-color: #cdd2d8;
  }

  [theme="dark"] ul.tagline li a:not(:hover) {
    background-color: var(--tag-background-color);
  }

  [theme="dark"] ul.tagline li.outline a:not(:hover) {
    background-color: transparent;
    border-color: var(--tag-background-color);
    color: var(--tag-background-color);
  }

  [theme="dark"] ul.tagline li.outline a:not(:hover)::after {
    background-color: var(--tag-background-color);
  }

  [theme="dark"] ul.tagline li.outline::after {
    border-color: transparent #1f1f1f transparent transparent;
  }

  [theme="dark"] ul.tagline li a:not(:hover)::before {
    border-color: transparent var(--tag-background-color) transparent transparent;
  }

  [theme="dark"] ul.tag-list>li>a {
    border: 1px solid #dfe1e52b;
  }

  [theme="dark"] ul.tag-list>li>a:hover {
    background-color: var(--tag-background-color);
    border: 1px solid var(--tag-background-color);
  }

  [theme="dark"] ul.tag-list.removable>li>a:hover {
    background-color: var(--tag-background-color-removable);
    border: 1px solid var(--tag-background-color-removable);
  }

  [theme="dark"] .search-box>input {
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    color: var(--main-font-color);
  }

  [theme="dark"] a.directory, [theme="dark"] a.file {
    color: rgba(255, 255, 255, 0.72);
  }

  [theme="dark"] .vector-tabs .selected a, [theme="dark"] .vector-tabs .selected a:visited {
    color: var(--main-font-color);
  }

  [theme="dark"] #layer-selector button {
    border: 1px solid #626262;
  }

  [theme="dark"] #layer-selector ul {
    background-color: #1f1f1f;
  }

  [theme="dark"] #layer-selector ul li[selected] {
    background-color: #0a588f !important;
  }

  [theme="dark"] #layer-selector ul li:hover {
    background-color: #2d3539;
  }

  [theme="dark"] .card-item.head {
    background-color: #6d7784;
  }

  [theme="dark"] .card-item.head.tag:not(.outline) {
    background-color: var(--tag-background-color);
  }

  [theme="dark"] .card-item.outline.head.tag {
    border-left: 3px solid var(--tag-background-color);
  }

  [theme="dark"] .card-item.head.link {
    background-color: var(--content-link-color);
  }

  [theme="dark"] .card-item:not(.head) .title {
    color: #80a4c8;
  }

  [theme="dark"] .card-item .summary {
    color: #a7a7a7;
  }
}