ul.file-tree {
    background: #4c5057;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    padding-left: 1em;
}

.folder .wrapper, .file .wrapper {
    transition-duration: 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    padding: .75em 1.25em;
    color: #fff;
}

.folder .wrapper {
    background: #4c5057;
    box-shadow: inset 0 -1px hsl(218, 7%, 38%);
}

.file .wrapper {
    background: #313439;
    box-shadow: inset 0 -1px hsl(218, 7%, 27%);
    /* padding-left: calc(1.25em + 16px); */
}

.folder .wrapper:hover, .file .wrapper:hover {
    filter: brightness(120%);
}

.folder input, .file input {
    display: block;
    border: none;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    transition: .3s ease;
    padding: 0;
    margin: 0;
}

.folder input:focus, .file input:focus {
    outline: 0;
    border-bottom: solid 2px #2196f3;
}

.file img {
    background-color: gray;
    width: 150px;
    height: 150px;
    object-fit: contain;
    filter: brightness(50%);
}

.drop-field {
    /* background-color: #2E3134; */
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 40px 50px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border: 4px dashed #7f858a;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #7f858a;
}

.open, .add, .rename, .delete {
    display: inline-block;
    border: 2px solid #ddd;
    background-color: transparent;
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .2s;
    text-align: center;
    cursor: pointer;
}

.open, .add {
    border-color: #27ae60 !important;
    color: #27ae60 !important;
    height: 2em;
}

.open:hover, .add:hover {
    color: white!important;
    background-color: #27ae60;
}

.delete {
    position: absolute;
    right: 0;
    border-color: #e74c3c !important;
    background-color: inherit !important;
    color: #e74c3c !important;
}

.delete:hover {
    background-color: #e74c3c !important;
    color: white !important;
}

.rename {
    position: absolute;
    right: 2em;
    background-color: inherit !important;
    height: 2em;
    border-color: #3498db !important;
    color: #3498db !important;
}

.rename:hover {
    background: #3498db !important;
    color: #fff !important;
}

.path-label {
    position: absolute;
    left: 220px;
    font-size: 0.7em;
    cursor: pointer;
    text-decoration: underline;
}