
ul.file-tree{
    list-style: none;
}

.folder{
    position: relative;
    background-color: orange;
}

.folder:hover {

    background-color: rgb(255, 182, 45);
}

.file:hover{
    
    background-color: rgb(226, 226, 226);
}

.file{
    position: relative;
    background-color: rgb(200, 200, 200);
}

.file img{
    background-color: gray;
    width: 150px; height: 150px;
    object-fit: contain;
}

.folder input{
    background-color: transparent;
}
.file input{
    background-color: transparent;
}

.drop-field{
    width: 90%;
    height: 3em;
    border: #ddd dashed 5px;
    
    text-align: center;
}

.folder button{
    background-color: transparent;
}
.file button{
    background-color: transparent;
}

.open{
    /* position: absolute;
    left: 170px; */

    width: 2em;
    text-align: center;

    cursor: pointer;
    color: green;
    border: solid green;

    margin: 0;
    padding: 0;
    height: 2em;
}


.add{
    /* position: absolute; */
    /* right: 0; */
    width: 2em;
    text-align: center;

    cursor: pointer;
    color: green;
    border: solid green;

    
    margin: 0;
    padding: 0;
    height: 2em;
}




.delete{
    position: absolute;
    right: 0;

    width: 1em;
    text-align: center;


    cursor: pointer;
    color: red;
    border: solid red;
    
    margin: 0;
    padding: 0;
    height: 2em;
}


.rename{
    position: absolute;
    right: 2em;

    width: 6em;
    text-align: center;

    cursor: pointer;
    color: blue;
    border: solid blue;
    
    margin: 0;
    padding: 0;
    height: 2em;
}


.path-label{
    position: absolute;
    left: 200px;
    font-size: 0.7em;
    
    cursor: pointer;
    text-decoration: underline;
}

